@import './base.css';

/* #jsonld-browser {
  font-weight: normal;
} */

#jsonld-browser {
  height: calc(100vh - 4rem);
  display: grid;
  grid-template-areas: 'browser dragbar viewer';
  grid-template-columns: 1fr 0px 2fr;
  grid-template-rows: 1fr;

  margin: 2rem auto;
  /* padding: 0 1rem; */
  max-width: 1280px;
  /* border: 3px solid lightgray; */
  /*
  grid-template-columns: 20% 80%;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  overflow-x: auto */
  box-shadow: 0 0 2px 2px #dfdfdf;
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    // place-items: center;
  }

  #jsonld-browser {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */

@media (max-width: 1024px) {
  #jsonld-browser {
    margin: 0 auto;
    height: calc(100vh);
  }
}

#jsonld-browser a {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  #jsonld-browser a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}